<html>
<body>
<div id="main">
<div class="content">
    <table class="list">
          <tbody>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
          </tr>
          <% for feedback in @feedbacks %>
          <tr>
            <td><%= h(feedback.id) %></td>
            <td><%= h(feedback.name) %></td>
            <td><%= h(feedback.email) %></td>
            <td><%=h feedback.created_at.strftime('%b %d, %Y') %></td>
            <td>
            <div class="actions">
              <%= link_to "Replay", edit_admin_feedback_path(feedback) -%> |
              <%= link_to "Destroy", feedback, :method => :delete, :confirm => "Are you sure?" %>
            </td>
            </div>
          </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>
</body>
</html>
