<% title "Search" %>

<p>
  <strong>Keywords:</strong>
  <%=h @search.keywords %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @search.category_id %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @search.address %>
</p>
<p>
  <strong>Minimum Price:</strong>
  <%=h @search.minimum_price %>
</p>
<p>
  <strong>Maximum Price:</strong>
  <%=h @search.maximum_price %>
</p>

<p>
</p>
