<% title "Login Admin" %>

<html>
</body>
<div id="main">
    <div class="content">
    
    <div style="float: left" >
    
    <% form_for @user_session, {:url => admin_user_sessions_url} do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit 'Login' %> 
        or <%= link_to "Cancel", root_path %>
      </p>
    <% end %>
    </div>
</div>
</body>
</html>
